@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Lilita+One&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("IMG3.jpg");
}

.container{
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.contentbox{
  width: 350px;
  height: 300px;
  margin: 20px;
  position: relative;
  display: inline-block;
  box-shadow: 5px 5px 10px 0px rgb(244, 6, 42);
  border-radius: 10px;
  transition: 0.3s;
}

.contentbox h2{
  color: rgb(172, 221, 176);
  margin: 20px;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.contentbox p{
  color: whitesmoke;
  margin: 20px;
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;  
}


.contentbox:hover{
  scale: 0.97;
  box-shadow: none;
}
