/* CSS RESETS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rozha+One&display=swap')
/* reset all elements to use border-box sizing */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* strip the default margins from these elements */
  body, h1, h2, h3, h4, p, ul, ol, li, figure, blockquote, dl, dd {
    margin: 0;
  }
  
  /* make the body element always 100% of the height of the window,
     and set the line-height to 1.5*/
  body {
    min-height: 100vh;
    line-height: 1.5;
  }